<div class="container-fluid">
<h3>Employee Table</h3>
<div>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>City 
        <app-dropdownfilter [filter_values]="select_city" [attri]="city_attribute" (messageEvent)="captureValues($event)"></app-dropdownfilter>
    </th>
      <th>Dept
        <app-dropdownfilter [filter_values]="select_dept" [attri]="dept_attribute" (messageEvent)="captureValues($event)"></app-dropdownfilter>
      </th>
      <th>Floor
        <app-dropdownfilter [filter_values]="select_floor" [attri]="floor_attribute" (messageEvent)="captureValues($event)"></app-dropdownfilter>
      </th>
      <th>Mail ID</th>
    </tr>
    <tr *ngFor="let item of resultant">
      <td>{{item.e_id}}</td>
      <td>{{item.e_name}}</td>
      <td>{{item.e_city}}</td>
      <td>{{item.e_dept}}</td>
      <td>{{item.e_floor}}</td>
      <td>{{item.email}}</td>
    </tr>
  </table>
</div>
</div>