<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <div *ngFor="let c of arr | filterRepeated : {sort_by:attribute}">
        <label for="{{c[attribute]}}">
          <input type="checkbox" [checked]="isChecked" class="{{attribute}}" id="{{c[attribute]}}" (change)="captureValues($event)" name="{{c[attribute]}}" value="{{c[attribute]}}">
          {{c[attribute]}}
        </label><br>
      </div>
    </div>
  </div>